<section>
  <div class="container">
      <div>
        <h4>Contact-Book Management</h4>
      </div>
      <div>
        <button (click)="addContact()" class='btn btn-info'>Add Contact</button>
      </div> 
      <br> 
      <div class="row">
        <div class="col-md-4" *ngFor="let contact of contacts | async; let indexOfelement=index;" 
          (click)="onSelect(contact)" [class.selected]="contact === selectedContact">
          <app-contact-card [contact]="contact"></app-contact-card>
        </div>
      </div>

  </div>
</section>
